$mainfont: "Plus Jakarta Sans", sans-serif;
// font size
$heading1: 64px;
$sub-heading1: 24px;
$sub-heading2: 20px;
$paragraph1: 20px;
$paragraph2: 18px;
$paragraph3: 16px;
$paragraph4: 14px;

// color

$white: #fff;
$light-grey1: #eff0f3;
$light-grey2: #e4e5e9;
$grey: #c0c0c0;
$dark-grey: #9a9494;
$black: #2b2c34;
$blue: #6246ea;

$header-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
$transition: all 0.3s linear;

$radius: 8px;
