.hero {
  background-image: url(../images/dot.svg);
  background-color: $light-grey1;
  background-size: cover;
  position: relative;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 800px;
  }
  &__info {
    width: 50%;
  }
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
    text-transform: capitalize;
    color: #2b2c34;
    margin-bottom: 30px;
  }
  &__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #9a9494;
    margin-bottom: 33px;
  }
  &__subscribe {
    display: flex;
    align-items: center;
    input {
      padding: 21px 25px;
      border: none;
      width: 70%;
      margin-right: 20px;
      border-radius: $radius;
    }
    button {
      color: #fff;
      background-color: $blue;
      cursor: pointer;
      padding: 14px 23px;
      border: 1px solid $blue;
      border-radius: $radius;
      transition: 0.4s;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-transform: capitalize;
      &:hover {
        color: $blue;
        background-color: #fff;
      }
    }
  }
  &__down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      transform: translateY(10px);
    }
  }
}
