.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey1;
  padding: 58px 0;
  &__wrapper {
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
    margin: 30px 0 10px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #c0c0c0;
    margin-bottom: 30px;
  }
}
