.articles-page {
  padding-top: 150px;
  &__featured {
    margin: 0;
    padding: 150px 0 0;
  }
  &__items {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.article {
  // position: relative;
  background-image: url("https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/202208/LLSC-dataset.png?itok=EmXS-hfK");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: center 80px;
  padding-top: 90px;

  &__content {
    background-color: #fff;
    background: #fff;
    width: 90vw;
    margin-top: 55vh;
    padding: 50px;
  }
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 81px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.4);
  }
  &__author {
    &-box {
      display: flex;
      align-items: center;
      span {
        margin-left: 15px;
      }
    }
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    text-align: justify;
  }
}
